---
{% if prometheus_password is defined %}
basic_auth_users:
  prometheus: {{ prometheus_password | password_hash('bcrypt')}}
{% endif %}
{% if node_exporter_cert_file is defined and
  node_exporter_key_file is defined %}
tls_server_config:
  cert_file: {{ node_exporter_lnx_install_dir }}/tls.crt
  key_file: {{ node_exporter_lnx_install_dir }}/tls.key
{% endif %}
